

#logo-nav{
  width: 275px;
  margin-left : 40px;
  margin-right : 40px;
  padding : 0%;
}



#navbarSupportedContent a{
color: white;
}

@media screen and (max-width: 1066px) {
#navbarSupportedContent{
  font-size : 0.7rem;

}
}
@media screen and (max-width: 1007px) {
#navbarSupportedContent{
  font-size : 0.6rem;

}
}

@media screen and (min-width: 1067px) and (max-width: 1194px) {
#navbarSupportedContent{
  font-size : 0.8rem;
}
}

.onglet{
margin-right : 20px;
padding-top : 10px;
padding-bottom : 10px;
height: 100%;
}
.onglet:hover{
background-color : #3c3842;
}


#navbar{
padding : 0px;
background-color : #51326e;

}


.dropdown-menu{
background-color : #3c3842;
}


.dropdown-menu a:hover{
background-color : #39353f;
}