///////////////////////* Variables *//////////////////////////////
$fontText : 'Roboto', sans-serif;
$fontTitle : 'Raleway', sans-serif;

$colorViolet : #51326e;
$colorBlack : #202020;
$colorGrey : #3c3842;
$colorWhite : #e4e4e4;
///////////////////////* Main page *//////////////////////////////
.head-main-page{
    /* background-color: $colorViolet; */
    background-image: url(https://picsum.photos/1000/800);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width : 100vw;
    height: 100vh;
    padding-top: 20rem;
    
    h1{
        text-align: center;
        font-weight: bold;
        font-family: $fontTitle;
        color: $colorViolet;
    }

    p{
        text-align: center;
        font-family: $fontText;
        color: $colorGrey;
    }

    .button-head-main{
        text-align: center;
        padding-top: 2%;
    }
}

.col-content-details{
    margin-top : 20px;
    margin-bottom: 20px;
    
    .content-text{
        width:400px;
        height:200px;  
        display: table;
        p{
            vertical-align: middle;
            display: table-cell;
        }
    }
}

