///////////////////////* Variables *//////////////////////////////
$fontText : 'Roboto', sans-serif;
$fontTitle : 'Raleway', sans-serif;

$colorViolet : #51326e;
$colorBlack : #202020;
$colorGrey : #3c3842;
$colorWhite : #e4e4e4;
///////////////////////* Main page *//////////////////////////////
.head-main-page{
    /* background-color: $colorViolet; */
    background-image: url(https://picsum.photos/1000/800);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width : 100vw;
    height: 100vh;
    padding-top: 20rem;
    
    h1{
        text-align: center;
        font-weight: bold;
        font-family: $fontTitle;
        color: $colorViolet;
    }

    p{
        text-align: center;
        font-family: $fontText;
        color: $colorGrey;
    }

    .button-head-main{
        text-align: center;
        padding-top: 2%;
    }
}

// Début Footer
.page-footer{
    background-color: $colorGrey;

    a:link{
        text-decoration: none;
    }

    h5{
        color: $colorWhite;
    }
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }





// Fin Footer