///////////////////////* Variables *//////////////////////////////
$fontText : 'Roboto', sans-serif;
$fontTitle : 'Raleway', sans-serif;

$colorViolet : #51326e;
$colorBlack : #202020;
$colorGrey : #3c3842;
$colorWhite : #e4e4e4;

.head-main-page{
    background-color: $colorViolet;
    width : 100vw;
    height: 100vh; 
    
    h1{
        text-align: center;
        font-family: $fontTitle;
        color: $colorWhite;
        padding-top : 20%;
    }
    p{
        font-family: $fontTitle;
        color: $colorWhite;
    }
}

